<% provide(:title, "Help") %>
<h1>Help</h1>

<h3>Features: </h3>
<h4>
	<li> view and manage existing scrapers,</li>
	<li> add a new scraper for a new YouTube Channel,</li>
	<li> add a new scraper for a new website (in the future).</li>
</h4>