<% provide(:title, "Home") %>
<h1>Welcome to the Scraper Manager</h1>
<h2>
	Click <%= link_to "here", scrapers_path%> to see all scrapers.<br/>
	Click <%= link_to "here", scrapers_new_path%> to add a new scraper.
</h2>